<!DOCTYPE html>
<html>
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/favicon/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="~/Content/favicon/safari-pinned-tab.svg" color="#0f5a70">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <base href="@Url.Content("~/")" />
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/bootstrap-material-design.css" rel="stylesheet" />
</head>
<body>
    <div class="body-content">
        @RenderBody()
    </div>
    <script>
        window.settings = {};
        window.settings.version = "0.1";
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('@Url.Content("~/Scripts/front/serviceworker.js")')
                .then(function () { console.log('Service Worker Registered'); });
        }
    </script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap-material-design.js"></script>
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
    @RenderSection("scripts", required: false)
</body>
</html>
